.pokemon {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pokemon > img {
  width: 150px;

  /* your code here */
  position: relative;
}

#bulbasaur {
  top: 20px;
}

#charmander {
  top: 50px;
}

#squirtle {
  top: 80px;
}

#pikachu {
  top: 150px;
}

#jigglypuff {
  top: 250px;
}
