button {
  width: 200px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: white;
}

thead {
  background-color: black;
  color: white;
}

.grayBackground {
  background-color: lightgray;
}
